body {
    text-align: center;
    font-family: Arial;
}

.calculadora {
    display: inline-block;
    border: 2px solid black;
    padding: 20px;
    background-color: rgb(26, 81, 201);
}


#pantalla {
    width: 300px;
    height: 80px;
    border: 2px solid black;
    background-color: rgb(158, 240, 240);

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    

    align-items: center;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}


#pantalla span {
    border-right: 5px solid black;
}


button {
    width: 60px;
    height: 60px;
    margin: 5px;
    font-size: 18px;
    background-color: rgb(168, 219, 248);
}